* {
    margin: 0;
    /* color: #333333; */
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


/* Black-Header Style */
.black-header {
    text-align: right;
    background-color: #111111;
    color: #ccc;
    padding: 3px 15px;
}

.black-header a {
    margin-right: 25px;
    font-size: 13px;
}

.black-header svg {
    margin-right: 5px;
    vertical-align: middle;
}

.black-header span {
    margin-right: 2px;
    vertical-align: middle;
}

.black-header #selected-link {
    margin-right: 70px;
}


/* Header */
.header {
    background-color: white;
    margin-top: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo-left {
    text-align: center;
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

.header-content {
    text-align: center;
    display: inline-block;
    width: 74%;
    vertical-align: middle;
}

.header-content a {
    margin-right: 30px;
    color: #333333;
    font-size: 17px;
}

.header-right {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

.header-right a svg {
    margin-left: 25px;
}


/* Cover Section */
.cover {
    margin-top: 25px;
    position: relative;
}

.cover1-btn {
    border: 1px solid #333333;
    padding: 10px 15px;
    position: absolute;
    left: 45%;
    top: 44%;
}

.cover1-btn span {
    margin: 30px;
    font-size: 18px;
}


/* What's New Section */
.new {
    margin-top: 60px;
}

.new .title {
    text-align: center;
    font-size: 27px;
    color: #333333;
}

.new .border {
    width: 4%;
    height: 2px;
    background-color: #c7000b;
    position: absolute;
    left: 63%;
    margin-left: -15%;
    margin-top: 5px;
}