* {
    margin: 0;
    /* color: #333333; */
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


/* Black-Header Style */
.black-header {
    text-align: right;
    background-color: #111111;
    color: #ccc;
    padding: 3px 15px;
}

.black-header a {
    margin-right: 25px;
    font-size: 13px;
}

.black-header svg {
    margin-right: 5px;
    vertical-align: middle;
}

.black-header span {
    margin-right: 2px;
    vertical-align: middle;
}

.black-header #selected-link {
    margin-right: 70px;
}


/* Header */
.header {
    background-color: white;
    margin-top: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo-left {
    text-align: center;
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

.header-content {
    text-align: center;
    display: inline-block;
    width: 74%;
    vertical-align: middle;
}

.header-content a {
    margin-right: 30px;
    color: #333333;
    font-size: 17px;
}

.header-right {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

.header-right a svg {
    margin-left: 25px;
}


/* Cover(s) Section */
.cover {
    margin-top: 25px;
    position: relative;
}

.cover1-btn {
    border: 1px solid #333333;
    padding: 10px 15px;
    position: absolute;
    left: 45%;
    top: 44%;
    transition: 0.5s;
}

.cover1-btn:hover {
    background-color: #c7000b;
    color: white;
}

.cover1-btn span {
    margin: 30px;
    font-size: 18px;
}

#second-cover {
    left: 69%;
    top: 58%;
    border: 1px solid #fff;
}

#text-style {
    color: #fff;
}


/* What's New Section */
.new {
    margin-top: 60px;
}

/* title section */
.title {
    text-align: center;
    font-size: 27px;
    color: #333333;
}

.border {
    width: 4%;
    height: 2px;
    background-color: #c7000b;
    position: absolute;
    left: 63%;
    margin-left: -15%;
    margin-top: 5px;
}


/* card box */
.card-box {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

/* long-card(s) */
.card-box .long-card {
    display: inline-block;
    width: 53.5%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.card-box .long-card .caption {
    position: absolute;
    top: 75%;
    left: 3%;
    transition: 0.7s;
}

.card-box .long-card a {
    width: 100%;
}

.card-box .long-card img {
    transition: 0.5s;
}

.card-box .long-card:hover img {
    transform: scale(1.1);
}

.card-box .long-card:hover .caption {
    top: 60%;
}

.card-box .long-card:hover .learn-more {
    top: 88%;
}

.card-box .long-card:hover .mask {
    background: linear-gradient(rgba(153, 34, 34, 0.808) 10%, rgba(17, 180, 33, 0.694) 70%);
}

#selected {
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
    font-size: 22px;
}

.mask {
    position: absolute;
    height: 70%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%);
    top: auto;
    bottom: 5px;
}

.learn-more {
    text-align: left;
    margin-left: 25px;
    position: absolute;
    top: 100%;
    transition: 0.7s;
}

.learn-more-title {
    vertical-align: middle;
    color: #fff;
    font-size: 22px;
}

.learn-more-chevron {
    vertical-align: middle;
    color: #c7000b;
}

#select-long {
    margin-top: 15px;
    margin-left: 15px;
}


/* short-card(s) */
.short-card {
    display: inline-block;
    width: 25.8%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

#selected-short-card {
    margin-left: 15px;
}

#select-short {
    margin-top: 15px;
    width: 26%;
}

.short-card a {
    width: 100%;
}

.short-caption {
    position: absolute;
    top: 60%;
    left: 5%;
    transition: 0.7s;
}

.selected-short-caption {
    top: 50%;
}

.card-box .short-card img {
    transition: 0.5s;
}

.card-box .short-card:hover img {
    transform: scale(1.1);
}

.card-box .short-card:hover .short-caption {
    top: 50%;
}

.card-box .short-card:hover .selected-short-caption {
    top: 35%;
}

.card-box .short-card:hover .learn-more {
    top: 86%;
}

.select-third-short {
    margin-top: 15px;
    margin-left: 10px;
    width: 26.3%;
}

#selected-third-row-card {
    margin-left: 0;
}


/* News & Events Section */
.news {
    margin-top: 60px;
}

/* cards box */
.news-cards-box {
    width: 80%;
    margin: auto;
}

.card {
    background-color: #f3f1f1;
    margin-top: 60px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-right: 40px;
    overflow: hidden;
}

.img-section {
    overflow: hidden;
    transition: 0.7s;
    position: relative;
}

.card:hover .img-section {
    transform: scale(1.1);
}

.event-logo {
    background-color: #c3c3c3;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
}

.event-logo span {
    color: white;
}

.news-caption {
    background-color: #f3f1f1;
    margin-top: 20px;
    padding: 35px 15px;
}

.news-caption h4 {
    color: #333333;
    margin-bottom: 25px;
}

.location {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.location svg {
    vertical-align: middle;
}

.location span {
    vertical-align: middle;
}

.date-time {
    text-align: right;
    display: inline-block;
    width: 55%;
    vertical-align: middle;
}

.date-time svg {
    vertical-align: middle;
}

.date-time span {
    vertical-align: middle;
}

.news-caption p {
    margin-top: 25px;
}

.news-title {
    margin-top: 45px;
    padding: 15px 15px;
}

.news-title:hover h4 {
    color: #c7000b;
}

.news-title:hover span {
    color: #c7000b;
}

.news-title h4 {
    margin-bottom: 15px;
    color: #333333;
}

#third-card {
    overflow: auto;
    height: 489px;
    position: relative;
}

.btn {
    margin-top: 70px;
    text-align: center;
}

.news-btn {
    border: 1px solid black;
    padding: 10px 30px;
    margin-right: 30px;
}

.news-btn:hover {
    background-color: #c7000b;
    color: #fff;
}